/assignment/phase1/code/process/config/
/assignment/phase1/code/process/__pycache__/
/assignment/phase1/code/process/logics/__pycache__/
/assignment/phase1/code/process/models/__pycache__/
/assignment/phase1/code/process/database/__pycache__/
/assignment/phase2/__pycache__/